
<%- include("partials/header"); -%>
    <h1>SignUp</h1>
    <form action="/" method="post">
        <input type="text" name="newDriverName" placeholder="Enter Name" required ><br>
        <input type="email" name="newDriverEmail"placeholder="Enter Email" required><br>
        <input type="text" name="newDriverPhoneNo" placeholder="Enter Phone Number" required><br>
        <input type="submit" value="submit">
    </form>

<%- include("partials/footer"); -%>
