
<%- include("partials/header"); -%>
<%- include("partials/flash"); -%>  
    <h1>SignUp</h1>
    <!-- <form action="/" method="post">
        <input type="text" name="newDriverName" placeholder="Enter Name" required ><br>
        <input type="email" name="newDriverEmail"placeholder="Enter Email" required><br>
        <input type="text" name="newDriverPhoneNo" placeholder="Enter Phone Number" required><br>
        <input type="submit" value="submit">
    </form> -->
    
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="username" required ><br>
        <input type="email" name="email"placeholder="Enter Email" required><br>
        <input type="text" name="phone" placeholder="Enter Phone Number" required><br>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" required><br>

        <label>Gender</label><br>
        <input type="radio" id="male" name="gender" value="male">    
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label>
        <br>
        

        <label> Shirt Size</label><br>
        <input type="radio" id="S" name="ssize" value="S">    
        <label for="S">S</label><br>
        <input type="radio" id="M" name="ssize" value="M">
        <label for="M">M</label><br><br>

        <label> Waist Size</label><br>
        <input type="radio" id="s28" name="wsize" value="28">    
        <label for="s28">28</label><br>
        <input type="radio" id="s30" name="wsize" value="30">
        <label for="s30">30</label><br><br>

        <label> Shoe Size</label><br>
        <input type="radio" id="ss9" name="shsize" value="9">    
        <label for="ss9">9</label><br>
        <input type="radio" id="ss10" name="shsize" value="10">
        <label for="ss10">10</label><br><br>

        <label>Age</label><br>
        <input type="text" name="age" id="age"><br>
        
        <input type="submit" value="submit">
    </form>

<%- include("partials/footer"); -%>
