<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Questionnaire</title>
</head>
<body>
    <h1>Simple Questionnaire</h1>
    <div id="question-container">
      <p id="question"></p>
      <form id="options-form" method="get" action="/">
      <input id="submit" type="submit" value="Submit" disabled>
      </form>
    </div>
    <script type="module" src="/script/questionaire.js"></script>
</body>
</html>
